Tema 6/act9/animales.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema">
  <xsi:element name="animal">
    <xsi:complexType>
      <xsi:all>
        <xsi:element name="nombrecomun" type="xsi:string"/>
        <xsi:element name="nombrecientifico" type="xsi:string"/>
      </xsi:all>
    </xsi:complexType>
  </xsi:element>
</xsi:schema>

